body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-map {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-map__container {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 25px;
  height: 85vh;
}

.body-map__body {
  height: 800px;
}

.body-map__model {
  color: #000;
}

.body-map__muscle {
  color: lightgrey;
  transition: color 25ms ease-in-out;

}

.body-map__muscle:hover {
  color: #fe5b7f;
  cursor: pointer;
}

.body-map__muscle .tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.body-map__muscle .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.body-map__muscle .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
